<div class="center jumbotron">
	<h1>Welcome to Private Events</h1>
	<h2>Post your next party or event and bring some friends</h2>
	<%= link_to "Sign Up Now", signup_path, class: "btn btn-large btn-primary" %>
</div>