<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>

<div class="row">
	<div class="col-sm-6">
		<h2>Created Events</h2>
		<%= render @events %>
	</div>
	<div class="col-sm-6">
		<h2>Attended Events</h2>
		<% @attended.each do |event| %>
			<%= render 'events/event', event: event %>
		<% end %>
	</div>
</div>